{% comment %}
/**************************************************
* DO NOT MODIFY THIS FILE!!!                      *
* IT WILL BE OVERWRITTEN BY UPDATES FROM GROWAVE! *
**************************************************/
{% endcomment %}
{% if product and shop.customer_accounts_enabled %}
  {% assign ssw_review_enabled = 1 %}
  {% if shop.metafields.ssw['review_enabled'] %}
    {% assign ssw_review_enabled = shop.metafields.ssw['review_enabled'] | plus: 0 %}
  {% endif %}
  {% if ssw_review_enabled %}
    {% assign ssw_new_widget = 0 %}
    {% if socialshopwave-widget-recommends %}
      {% assign ssw_new_widget = socialshopwave-widget-recommends %}
	{% elsif new_widget == 1 %}
	  {% assign ssw_new_widget = 1 %}
    {% endif %}
    <div id="ssw-widget-recommends-html" {% if ssw_new_widget != 0 %}class="ssw-new-widget"{% endif %}></div>
    <script type="text/javascript" defer>
      if (typeof sswWidgetRecommendsInterval == 'undefined') {
        var sswWidgetRecommendsInterval = setInterval(function () {
          if (typeof userChecked != 'undefined' && userChecked) {
            clearInterval(sswWidgetRecommendsInterval);
            var data = {
              'product_id': {{ product.id }},
              '_sid': sswCookie('hesid'),
              'new_widget': {{ ssw_new_widget }}
            };
            ssw.get(sswProxyUrl + '/lite2/review/index', data, function (response) {
              var tmpDiv = ssw(document.createElement('div')).html(response);
              var tmpScripts = ssw(document.createElement('div'));
              tmpDiv.find('script').appendTo(tmpScripts);
              ssw('#ssw-widget-recommends-html').html(tmpDiv.html());
              ssw('body').append(tmpScripts.html());
              if (ssw('#site-body').length) {
                ssw('#recommend_modal').appendTo('#site-body');
              } else {
                ssw('#recommend_modal').appendTo('body');
              }
            });
          }
        }, 300);
      }
    </script>
  {% endif %}
{% endif %}